{% extends 'base.html' %}
{% block content %}
<h2>牧民信息</h2>
<a href='/farmer/new' class='btn'>添加牧民</a>

<table class='table'>
  <thead>
    <tr>
      <th>姓名</th>
      <th>身份证</th>
      <th>银行卡号</th>
      <th>电话</th>
      <th>地址</th>
      <th>奶站</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for h in herdsmen %}
    <tr>
      <td>{{h.name}}</td>
      <td>{{h.id_card}}</td>
      <td>{{h.bank_card if h.bank_card else '未填写'}}</td>
      <td>{{h.phone}}</td>
      <td>{{h.address}}</td>
      <td>{{h.milk_station_id}}</td>
      <td>
        <a href='/farmer/view/{{h.id}}' class='btn btn-sm btn-info'>查看</a>
        <a href='/farmer/edit/{{h.id}}' class='btn btn-sm btn-primary'>编辑</a>
        <form method='post' action='/farmer/delete/{{h.id}}' style='display:inline;' onsubmit="return confirm('确定要删除这个牧民吗？')">
          <button type='submit' class='btn btn-sm btn-danger'>删除</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
