{% extends 'base.html' %}
{% block content %}
<h2>{% if farmer %}编辑牧民{% else %}新增牧民{% endif %}</h2>

<form method='post'>
  {{form.hidden_tag()}}
  
  <div class='form-group'>
    {{form.name.label}}
    {{form.name(class='form-control')}}
  </div>
  
  <div class='form-group'>
    {{form.id_card.label}}
    {{form.id_card(class='form-control')}}
  </div>
  
  <div class='form-group'>
    {{form.bank_card.label}}
    {{form.bank_card(class='form-control', placeholder='请输入银行卡号')}}
  </div>
  
  <div class='form-group'>
    {{form.address.label}}
    {{form.address(class='form-control')}}
  </div>
  
  <div class='form-group'>
    {{form.phone.label}}
    {{form.phone(class='form-control')}}
  </div>
  
  <div class='form-group'>
    {{form.milk_station_id.label}}
    {{form.milk_station_id(class='form-control')}}
  </div>
  
  <div class='form-group'>
    {{form.submit(class='btn')}}
    <a href='/farmers' class='btn btn-secondary'>返回列表</a>
  </div>
</form>
{% endblock %}
